<header class="header">
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>
</header>
<section class="mbr-section content4 cid-rBcdAmppU7 pt-5" id="content4-x">
  <div class="container">
      <div class="media-container-row">
          <div class="title col-12 col-md-8">
              <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>{{ page.title }}</strong></h2>
            
          </div>
      </div>
  </div>
</section>
{% include site-feature.html %}
{% include page-image.html %}