<section class="testimonials1 cid-rBR71CeESl" id="testimonials1-14">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 align-center typeset">
        <h3 class="pb-3 mbr-fonts-style displa">
          {{content | strip_html}} </h2>

      </div>
    </div>
  </div>
  <div class="container">
    <div class=" col-12">
      <div class="media-container-row">
        {% for page in site.testimonials %}
        <div class="mbr-testimonial  align-center col-12 col-md-6 ">
          <div class="panel-item">
            <div class="card-block">
              <div class="testimonial-photo">
                <a href="{{page.url}}"><img src="{{page.page_image}}" alt="{{page.title}} yoga testimonial"
                    title="{{page.title}} yoga testimonial"></a>
              </div>
              <p class="">
                {{page.seodescription}}
            </div>
            <div class="card-footer">
              <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Rebecca Tany-Mead&nbsp;</div>
              <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"><a href="{{page.url}}">
                  more &gt;&gt;</a></small>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>